<ion-header>
  <ion-navbar hideBackButton>
    <!-- It is used to hide back button -->
     <div align="center" style="color:#0a80e3;font-size: large;">
      <ion-label>My Account's Targets</ion-label>
      </div>
    <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;color:#0a80e3" (click)="OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="has-header" no-bounce>
 

<ion-card style="border-radius: 13px 13px;" *ngFor="let post of posts"> <!--   (click)="transaction()" -->
  <div tabindex="1"> 
  <ion-card-content style="background-color:#f7f3f3">
      <ion-card-title style="text-align:center">
      <b> {{ post.title }} </b>
      </ion-card-title>
    <p style="text-align:center"><b>Start Date:</b> {{ post.start_date }} &nbsp; &nbsp; &nbsp; <b>End Date:</b>{{ post.end_date }} </p>
    <p style="text-align:center"><b>Target Amount:</b> {{ post.target_amount }}  $</p>
    <p style="text-align:center"><b>Current Amount:</b> 2000$</p>
    <div align="center">
    <button ion-button color="danger" outline (click)="delete()">Cancel</button>
    <button ion-button color="primary" outline (click)="with()">Withdraw</button>
    </div>  
  </ion-card-content>
  </div>
</ion-card>


</ion-content>
