<ion-header>
  <ion-navbar hideBackButton>
    <!-- It is used to hide back button -->
     <div align="center" style="color:#0a80e3;font-size: large;">
      <ion-label>Choose from Account</ion-label>
      </div>
    <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;color:#0a80e3" (click)="OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="has-header" no-bounce>
 

<ion-card style="border-radius: 13px 13px;"> <!--   (click)="transaction()" -->
  <div tabindex="1"> 
  <ion-card-content>
     
      <ion-card-title style="text-align:center">
      <b>Title 1</b>
      </ion-card-title>
    <p style="text-align:center">Start Date: 10/07/2016 &nbsp; &nbsp; &nbsp; End Date: 01/08/2017</p>
    <p style="text-align:center">Target Amount: 5000$</p>
    <p style="text-align:center"><b>Description:</b>Content goes here,Content goes here,Content goes here</p>
    <div align="center">
    <button ion-button color="primary" outline (click)="within()">Withdraw</button>
    </div>  
  </ion-card-content>
  </div>
</ion-card>

<ion-card style="border-radius: 13px 13px;">
  <div tabindex="1"> 
  <ion-card-content>
      <ion-card-title style="text-align:center">
      <b>Title 2</b>
      </ion-card-title>
    <p style="text-align:center">Start Date: 10/09/2016 &nbsp; &nbsp; &nbsp; End Date: 11/08/2017</p>
    <p style="text-align:center">Target Amount: 7000$</p>
    <p style="text-align:center"><b>Description:</b>Content goes here,Content goes here,Content goes here</p>
     <div align="center">
    <button ion-button color="primary" outline (click)="with()">Withdraw</button>
    </div>  
  </ion-card-content>
  </div>
</ion-card>

<ion-card style="border-radius: 13px 13px;">
  <div tabindex="1"> 
  <ion-card-content>
      <ion-card-title style="text-align:center">
      <b>Title 3</b>
      </ion-card-title>
    <p style="text-align:center">Start Date: 10/07/2016  &nbsp; &nbsp; &nbsp; End Date: 11/09/2017</p>
    <p style="text-align:center">Target Amount: 300$</p>
    <p style="text-align:center"><b>Description:</b>Content goes here,Content goes here,Content goes here</p>
   <div align="center">
    <button ion-button color="primary" outline (click)="with()">Withdraw</button>
    </div>  
  </ion-card-content>
  </div>
</ion-card>

<ion-card style="border-radius: 13px 13px;">
  <div tabindex="1">
  <ion-card-content>
      <ion-card-title style="text-align:center">
      <b>Title 4</b>
      </ion-card-title>
    <p style="text-align:center">Start Date: 10/07/2016 &nbsp; &nbsp; &nbsp; End Date: 15/10/2017</p>
    <p style="text-align:center">Target Amount: 100$</p>
    <p style="text-align:center"><b>Description:</b>Content goes here,Content goes here,Content goes here</p>
   <div align="center">
    <button ion-button color="primary" outline (click)="with()">Withdraw</button>
    </div> 
  </ion-card-content>
  </div>
</ion-card>

<ion-card style="border-radius: 13px 13px;">
  <div tabindex="1">
  <ion-card-content>
      <ion-card-title style="text-align:center">
      <b>Title 5</b>
      </ion-card-title>
    <p style="text-align:center">Start Date: 10/07/2016 &nbsp; &nbsp; &nbsp; End Date: 11/07/2018</p>
    <p style="text-align:center">Target Amount: 50$</p>
    <p style="text-align:center"><b>Description:</b>Content goes here,Content goes here,Content goes here</p>
   <div align="center">
    <button ion-button color="primary" outline (click)="with()">Withdraw</button>
    </div> 
  </ion-card-content>
  </div>
</ion-card>

</ion-content>
