<ion-header>
  <ion-navbar hideBackButton>
    <!-- It is used to hide back button -->
     <div align="center" style="color:#0a80e3;font-size: large;">
      <ion-label>Transactions</ion-label>
      </div>
    <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;color:#0a80e3" (click)="OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
          </button>
    </ion-buttons>      
  </ion-navbar>
  <div>
    <img src="img/voguepaybg.PNG"/>
  </div>
<div position="fixed">
  <p><b>&nbsp;&nbsp;&nbsp; Account History</b><b style="float:right">Account Bal: $678.8 &nbsp;&nbsp;&nbsp;</b></p>
</div>
</ion-header>


<ion-content no-bounce style="margin-top: 0%;">
  <ion-list *ngFor="let post of posts">
    
    <ion-item>
      <h5><b>Transaction_id:&nbsp;&nbsp;</b>{{ post.transaction_id}}</h5>
      <h5><b>Date:&nbsp;&nbsp;</b>{{ post.transaction_date }}</h5>
      <h5  style="float:right;margin-top: -8%;"><b>Deposited:</b>&nbsp;{{ post.transaction_amount}}$</h5>
    </ion-item>
  
  </ion-list>

</ion-content>
