<ion-header>
  <ion-navbar >
    <!-- It is used to hide back button -->
     <div align="center" style="color:#0a80e3;font-size: large;">
      <ion-label>John Doe</ion-label>
      </div>
  </ion-navbar>
</ion-header>



<ion-content no-bounce>
<div align="center">
  <img src="img/withdraw1.PNG"/>
</div>

<div align="center">
  <img src="img/payzabtn.png" style="width:25%;"/>
</div>

<div style="padding:10%;margin-top: -8%;">

<ion-list>

  <ion-item style="display:none">
    <ion-label>Name</ion-label>
    <ion-input type="text" placeholder="(as it appears on card)"></ion-input>
  </ion-item>

   <ion-item class="stylebg">
    <ion-label>Name</ion-label>
    <ion-input type="text" style="color:#d5d5d5" placeholder="(as it appears on card)"></ion-input>
   </ion-item>
 
  <ion-item class="stylebg">
    <ion-label>Card Number</ion-label>
    <ion-input type="text" style="color:#d5d5d5" placeholder="(no spaces)"></ion-input>
  </ion-item>
  
  <ion-item class="stylebg">
    <ion-label floating style="display: none;">Expiration Date</ion-label>
    <ion-select [(ngModel)]="monthlydata">
      <ion-option value="mon" selected>Expiration Date</ion-option>
      <ion-option value="con1">content</ion-option>
      <ion-option value="con2">content</ion-option>
      <ion-option value="con3">content</ion-option>
      <ion-option value="con4">content</ion-option>
      <ion-option value="con5">content</ion-option>
      <ion-option value="con6">content</ion-option>
    </ion-select>
  </ion-item>


  <ion-item class="stylebg">
    <ion-label>CCV</ion-label>
    <ion-input type="text" style="color:#d5d5d5" placeholder="(security code)"></ion-input>
  </ion-item>

  <ion-item style="display:none">
    <ion-label>Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

</ion-list>

</div>


<div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center" style="margin-top: -24%;">
        <button ion-button block class="btnsize" style="border-radius: 13px 13px;background-color:#1fc4fe;color:white;">With Draw</button>
    </div>

    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center">
        <button ion-button block class="btnsize" style="border-radius: 13px 13px;background-color: #dcdcdc; color:#252525;margin-top: -2%;">Decline</button>
    </div>

</ion-content>