<ion-header>
  <ion-navbar hideBackButton>
    <!-- It is used to hide back button -->
     <div align="center" style="color:#0a80e3;font-size: large;">
      <ion-label>Terms & Conditions</ion-label>
      </div>
    <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;color:#0a80e3" (click)="OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce class="has-header">
   
 <div>
     <h1 style="text-align:center; color:white"> Terms & Conditions </h1>
 </div>

 <div align="center">
     <p style="color:white">Content goes here, Content goes here, Content goes here.</p>
     <p style="color:white">Content goes here, Content goes here, Content goes here.</p>
     <p style="color:white">Content goes here, Content goes here, Content goes here.</p>
     <p style="color:white">Content goes here, Content goes here, Content goes here.</p>
     <p style="color:white">Content goes here, Content goes here, Content goes here.</p>
     <p style="color:white">Content goes here, Content goes here, Content goes here.</p>
     <p style="color:white">Content goes here, Content goes here, Content goes here.</p>
     <p style="color:white">Content goes here, Content goes here, Content goes here.</p>
     <p style="color:white">Content goes here, Content goes here, Content goes here.</p>
     <p style="color:white">Content goes here, Content goes here, Content goes here.</p>
     <p style="color:white">Content goes here, Content goes here, Content goes here.</p>
     <p style="color:white">Content goes here, Content goes here, Content goes here.</p>
     <p style="color:white">Content goes here, Content goes here, Content goes here.</p>
     <p style="color:white">Content goes here, Content goes here, Content goes here.</p>
     <p style="color:white">Content goes here, Content goes here, Content goes here.</p>
 </div>
     
    
</ion-content>