<ion-header>
  <ion-navbar hideBackButton>
    <!-- It is used to hide back button -->
     <div align="center" style="color:#0a80e3;font-size: large;">
      <ion-label>John Doe</ion-label>
      </div>
    <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;color:#0a80e3" (click)="OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content no-bounce>
<div align="center">
  <img src="img/nbg.png"/>
</div>

<div align="center">
  <img src="img/payzabtn.png" style="width: 50%;margin-top: 6%;"/>
</div>


<div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center">
        <button ion-button block class="btnsize" style="border-radius: 13px 13px;background-color:#048df7;color:white;">Make Payment</button>
    </div>

    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center">
        <button ion-button block class="btnsize" style="border-radius: 13px 13px;background-color: #dcdcdc; color:#252525;margin-top: 0%;">Decline</button>
    </div>

</ion-content>