.select1{
    border-radius: 22px 24px;
    width: 100%;
    height: 0px;
   // padding-left: 16px;
    position: relative;
    font-size: small;
    color: black;
    background-color: white;
}
.select2{
    border-radius: 22px 24px;
    width: 100%;
    height: 0px;
    //padding-left: 16px;
    font-size: small;
    color: white;
    background-color:transparent;
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom:none;
    
}
.seticon1{
margin-left: -1%;    
border-radius: 7px;
}
.toolbar-background {
    position:fixed;
    background-color: white;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0px;
}
.myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top:20px;
}
.btnsize{
    width: 75%;
    height:75px; 
}