<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
        <div class="Aligner-item Aligner-item--top"></div>
        <img src="img/logo.png">
        <div class="Aligner-item Aligner-item--bottom">
        </div>
    </div>
</div>
<ion-content padding class="has-header" no-bounce>

    <div align="center" style="margin-top: 8%;">
        <img src="img/logo.png" style="width:75%" />
    </div>
    
    <div>
        <h5 class="loginto" style="margin-left: 6%; margin-top: 8%;">Login to your Account</h5>
    </div>
    
    
    <div style="margin-top: 16%;">
    
        <ion-list>

   <ion-item style="display:none">
        <ion-input type="text" class="text-input" placeholder="Username"></ion-input>

  </ion-item> 

   <ion-item style="background: transparent;">
        <ion-input type="text" class="text-input" placeholder="Email" [(ngModel)]="username"></ion-input>    <!-- [(ngModel)]="username" -->
  </ion-item> 

   <ion-item style="background: transparent;">
        <ion-input type="password" class="text-input" placeholder="Password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item style="display:none;">
        <ion-input type="password" class="text-input" placeholder="Password"></ion-input>
  </ion-item>

</ion-list>       
    </div>


    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center"     style="margin-top: -4%;">
        <button ion-button block class="loginbtn" style="border-radius: 13px 13px;width: 75%;" (click)="signIn()">LOGIN</button>
    </div>
    
    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center" style="margin-top: -4%;">
        <button ion-button block class="loginbtn" style="border-radius: 13px 13px;width: 75%;" (click)="signupScreen()">REGISTER</button>
    </div>

     <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <button class="fb">FORGOT PASSWORD?</button>
    </div>

</ion-content>