<ion-header>
  <ion-navbar hideBackButton>
    <!-- It is used to hide back button -->
     <div align="center" style="color:#0a80e3;font-size: large;">
      <ion-label>Settings</ion-label>
      </div>
    <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;color:#0a80e3" (click)="OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="has-header" no-bounce>
    <div style="margin-top: 16%;">
    <ion-list>

  <ion-item style="display:none">
        <ion-input type="text" class="text-input" placeholder="Username"></ion-input>

  </ion-item>

  <ion-item style="background: transparent;">
        <ion-input type="text" class="text-input" placeholder="Username"></ion-input>

  </ion-item>
       
       <ion-item style="background: transparent;">
        <ion-input type="text" class="text-input" placeholder="E-mail"></ion-input>

  </ion-item>

   <ion-item style="background: transparent;">
        <ion-input type="password" class="text-input" placeholder="Old Password"></ion-input>
  </ion-item>

      <ion-item style="background: transparent;">
        <ion-input type="password" class="text-input" placeholder="New Password"></ion-input>
  </ion-item>

  <ion-item style="background: transparent;">
        <ion-input type="password" class="text-input" placeholder="Confirm Password"></ion-input>
  </ion-item>

   <ion-item style="display:none;">
        <ion-input type="password" class="text-input" placeholder="Confirm Password"></ion-input>
  </ion-item>

</ion-list>       
    </div>


    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center">
        <button ion-button block class="loginbtn" style="border-radius: 13px 13px;width: 75%;background-color:black;color:white;margin-top: 11%;" (click)="logt();">Update</button>
        <button ion-button block class="loginbtn" style="border-radius: 13px 13px;width: 75%;background-color:black;color:white;" (click)="log();">Logout</button>
    </div>

</ion-content>