<ion-header>
  <ion-navbar hideBackButton>
    <!-- It is used to hide back button -->
     <div align="center" style="color:#0a80e3;font-size: large;">
      <ion-label>Dashboard</ion-label>
      </div>
    <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;color:#0a80e3" (click)="OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content class="has-header" no-bounce>

<div style="margin-top: 24%;">
  <h2 style="color:white;text-align:center">Welcome to SAVE MONEY</h2>
  <p style="color:#fffdff;text-align:center">One secure system for every payment</p>
</div>

    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center">
      
       <img src="img/lmg2.png" style="width:30%;" (click)="nav1()"/>
       <img src="img/lmg3.png" style="width:30%;"/>
       <img src="img/lmg4.png" style="width:30%;" (click)="nav3()"/>
       <img src="img/lmg5.png" style="width:30%;" (click)="nav4()"/>
       <img src="img/lmg6.png" style="width:30%;" (click)="nav5()"/>
    </div>
</ion-content>