<ion-menu side="left" type="overlay" [content]="nav">

  <ion-header>
  </ion-header>

  <ion-content class="has-header" nobounce>
    <div align="center" style="margin-top:15%;">
    <p style="color:white">Welcome</p>
    <h3 style="color:white">John Doe</h3>
    </div>
       <ion-list style="margin-top: 13%;">
       <ion-item class="listTransparent" (click)="OnLoad(lecture)" style="color:white;background:transparent;display: none;">
        <ion-icon name="ios-albums" item-start></ion-icon>
         Lectures
      </ion-item>

       <ion-item class="listTransparent" (click)="OnLoad(card)" style="color:white;background:transparent;">
        <ion-icon name="ios-home-outline" item-start></ion-icon>
         Home
      </ion-item>

       <ion-item class="listTransparent" (click)="OnLoad(Aboutus)" style="color:white;background:transparent;">
        <ion-icon name="ios-archive-outline" item-start></ion-icon>
         Create a savings Target
      </ion-item>

         <ion-item class="listTransparent" (click)="OnLoad(myaccount)" style="color:white;background:transparent;border-bottom:1px;">
        <ion-icon name="ios-briefcase-outline" item-start></ion-icon>
        Targets
      </ion-item>

 <ion-item class="listTransparent" (click)="OnLoad(list)" style="color:white;background:transparent;border-bottom:1px;">
        <ion-icon name="ios-cash-outline" item-start></ion-icon>
        Payment History
      </ion-item>
 <ion-item class="listTransparent" (click)="OnLoad(lecture)" style="color:white;background:transparent;border-bottom:1px;">
        <ion-icon name="ios-card" item-start></ion-icon>
        My Cards
      </ion-item>
      <ion-item class="listTransparent" (click)="OnLoad(current)" style="color:white;background:transparent;border-bottom:1px;">
        <ion-icon name="ios-open-outline" item-start></ion-icon>
        Withdraw
      </ion-item>
      <ion-item class="listTransparent" (click)="OnLoad(faq)" style="color:white;background:transparent;border-bottom:1px;">
        <ion-icon name="ios-information-circle-outline" item-start></ion-icon>
        FAQ </ion-item>
    
       <ion-item class="listTransparent" (click)="OnLoad(terms)" style="color:white;background:transparent;border-bottom:1px;">
        <ion-icon name="ios-paper-outline" item-start></ion-icon>
        Terms & Conditions </ion-item>
    
       <ion-item class="listTransparent" (click)="OnLoad(settings)" style="color:white;background:transparent;border-bottom:1px;">
        <ion-icon name="ios-settings-outline" item-start></ion-icon>  <!--settings-->
        Settings </ion-item>
    </ion-list>
    <div>  
    <p style="margin-top: 22%;color:white; text-align:center;">SaveMoney- All Rights Reserved 2017</p>
    </div>
  </ion-content>
  
</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #nav></ion-nav>
