
<ion-header>
  <ion-navbar hideBackButton>
    <!-- It is used to hide back button -->
     <div align="center" style="color:#0a80e3;font-size: large;">
      <ion-label>Reciept</ion-label>
      </div>
    <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;color:#0a80e3" (click)="OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="has-header" no-bounce>


  <div align="center">
    <h6 style="color:white">Target Title: &nbsp; Target Name</h6>
    <h6 style="color:white"><b>Amount: 4000$</b></h6> 
  </div>

  <div>
    <h6 style="color:white">Start Date:&nbsp;13/05/2017</h6>
    <h6 style="color:white">End Date:&nbsp;22/12/2017</h6>
    <h6 style="color:white">Targeted Amount:&nbsp;10,000$</h6>
    <h6 style="color:white">Description:Content goes here,Content goes here,Content goes here.</h6>
  </div>

  <!-- <div>
    <img src="img/recieptbg.png"/>
  </div>

  <div align="center" style="margin-top: -85%;">
    <h6 style="color:white">Target Title: &nbsp; Target Name</h6>
    <h6 style="color:white"><b>Amount: 3456$</b></h6> 
  </div>

  <div style="margin-top: 17%;">
    <h6 style="color:white">Start Date:&nbsp;13/05/2017</h6>
    <h6 style="color:white">End Date:&nbsp;22/12/2017</h6>
    <h6 style="color:white">Targeted Amount:&nbsp;5000$</h6>
    <h6 style="color:white">Description:Content goes here,Content goes here,Content goes here.</h6>
  </div> -->
<!--div style="margin-top: 12%;">
  <ion-list>
    
    <ion-item>
      <h2>Amount Deposited</h2>
      <h5>12/07/2017 &nbsp; /16:58</h5>
      <h5><b style="float: right;margin-top: -8%;">$450</b></h5>
    </ion-item>

    <ion-item>
      <h2>Amount Deposited</h2>
      <h5>12/06/2017 &nbsp; /16:58</h5>
      <h5><b style="float: right;margin-top: -8%;">$1000</b></h5>
    </ion-item>

     <ion-item>
      <h2>Amount Deposited</h2>
      <h5>12/05/2017 &nbsp; /16:58</h5>
      <h5><b style="float: right;margin-top: -8%;">$500</b></h5>
    </ion-item>

     <ion-item>
      <h2>Amount Deposited</h2>
      <h5>12/04/2017 &nbsp; /16:58</h5>
      <h5><b style="float: right;margin-top: -8%;">$1000</b></h5>
    </ion-item>

     <ion-item>
      <h2>Amount Deposited</h2>
      <h5>12/03/2017 &nbsp; /16:58</h5>
      <h5><b style="float: right;margin-top: -8%;">$670</b></h5>
    </ion-item>

     <ion-item>
      <h2>Amount Deposited</h2>
      <h5>12/02/2017 &nbsp; /16:58</h5>
      <h5><b style="float: right;margin-top: -8%;">$60</b></h5>
    </ion-item>

     <ion-item>
      <h2>Amount Deposited</h2>
      <h5>12/01/2017 &nbsp; /16:58</h5>
      <h5><b style="float: right;margin-top: -8%;">$500</b></h5>
    </ion-item>

    
    

  </ion-list>
</div-->

</ion-content>
