.has-header{
    background-image: url('../img/bg.jpg');
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.loginto{
    text-align:center;
    color:white;
    text-decoration: none;

}
.text-input{
    color: white;
}
.text-input::-moz-placeholder {
  color: white;
}

.text-input:-ms-input-placeholder {
  color: white;
}

.text-input::-webkit-input-placeholder {
  color: white;
}
.masterDiv{
    padding: 6%;
    bottom: 0;
    left: 0;
    right: 0;
}
.divBtns{
    margin-top: -8%;
}

.loginbtn{
    width: 100%;
    height: 51px;
    border-radius: 7px;
    font-size: large;
    background-color: #2b2b2b;
    color:white;
}
.registerbtn{
    margin-left: 15%;
    width: 70%;
    height: 50px;
    border-radius: 7px;
    font-size: large;
}
.fb{
    background:transparent;
    background-size: cover;
    color:white;
    width: 100%;
    height: 40px;
    border-radius: 7px;
    font-size: large;
}
.seticon{
    width: 25%;
margin-left: 36%;    
border-radius: 7px;
}
.signup{
    background: url('../img/g.png');
    background-size: cover;
    margin-top: -4%;
    color:white;
    width: 100%;
    height: 51px;
    border-radius: 7px;
    font-size: large;

}
 .iconsize{
    font-size: 2em;
      }

.item-ios {
    width: 100%;
    height: 51px;
    padding-left: 16px;
    position: relative;
    font-size: 1.7rem;
    color: black;
    background-color: white;
    border-radius: 6px;
}
.footer1{
    height: 100px; 
    width:100%;
    position: fixed;
    left: 0;
    bottom: 0; 
}
.footerHomePage{
    height: 19%;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 19px;
}
input,
input::-webkit-input-placeholder {
    font-size: 19px;
    line-height: 3;
    color: white;
}
input, input::-webkit-input-placeholder {
    font-size: 19px;
    line-height: 3;
    color: black; 
}
#custom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width:100%;
      background-image: url('../img/bg.jpg');
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.flb {
background-image: url('../img/bg.jpg');
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  height:100%;
  width:100%;
  animation: pulse 1s linear forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  max-width: 100%;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
#custom-overlay img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  animation: animation 3100ms linear infinite both;
  animation-delay: 1s;
}