<ion-content padding class="has-header" no-bounce>
    <div align="center" style="margin-top: 21%;">
        <img src="img/logo.png" style="width:75%" />
    </div>
    
    <div>
        <h5 class="loginto" style="margin-left: 6%; margin-top: 8%;">Registeration to your Account</h5>
    </div>
    
    
    <div style="margin-top: 16%;">
    <ion-list>

  <ion-item style="display:none">
        <ion-input type="text" class="text-input" placeholder="Username"></ion-input>

  </ion-item>

  <ion-item style="background: transparent;">
        <ion-input type="text" class="text-input" placeholder="Username" [(ngModel)]="username"></ion-input>

  </ion-item>
       
  <ion-item style="background: transparent;">
        <ion-input type="text" class="text-input" placeholder="Name" [(ngModel)]="name"></ion-input>

  </ion-item>
       <ion-item style="background: transparent;">
        <ion-input type="text" class="text-input" placeholder="E-mail" [(ngModel)]="email"></ion-input>

  </ion-item>

    <ion-item style="background: transparent;color:white;">
    <ion-label floating>Select Country</ion-label>
    <ion-select [(ngModel)]="country" end>
    <ion-option value="con" selected>Select Country</ion-option>
	<ion-option value="nigeria">Nigeria</ion-option>
	<ion-option value="other">Other Countries</ion-option>
    </ion-select>
  </ion-item> 

   <ion-item style="background: transparent;">
        <ion-input type="password" class="text-input" placeholder="Password" [(ngModel)]="password"></ion-input>
  </ion-item>

      <ion-item style="background: transparent;">
        <ion-input type="password" class="text-input" placeholder="Confirm Password" [(ngModel)]="conpassword"></ion-input>
  </ion-item>

   <ion-item style="display:none;">
        <ion-input type="password" class="text-input" placeholder="Confirm Password"></ion-input>
  </ion-item>

</ion-list>       
    </div>


    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center">
        <button ion-button block class="loginbtn" style="border-radius: 13px 13px;width: 75%;" (click)="signUp();">REGISTER</button>
    </div>

</ion-content>