<ion-header>
  <ion-navbar hideBackButton>
    <!-- It is used to hide back button -->
    <div align="center" style="color:#0a80e3;font-size: large;">
      <ion-label>Create a Savings Target</ion-label>
    </div>
    <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;color:#0a80e3" (click)="OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar> 
</ion-header>

<ion-content class="has-header" no-bounce>
  <div style="text-align:center;margin-top: 24%;">
    <p style="color:white;font-size: large;">CREATE A SAVINGS TARGET</p>
  </div>
  <div align="center">
    <ion-list>

       <ion-item style="background-color: transparent;width:60%;color: white;">
        <ion-label fixed>Enter Title:</ion-label>
        <ion-input type="text" value="" placeholder="" [(ngModel)]="title"></ion-input>
      </ion-item>


      <ion-item style="background-color: transparent;width:60%;color: white;">
        <ion-label style="color:white">Start Date</ion-label>
        <ion-datetime id="start" displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
      </ion-item>

      <ion-item style="background-color: transparent;width:60%;color: white;">
        <ion-label style="color:white">End Date</ion-label>
        <ion-datetime id="end" displayFormat="MMM DD YYYY" [(ngModel)]="event.timeEnds"></ion-datetime>
      </ion-item>


      <ion-item style="background-color: transparent;width:60%;color: white;">
        <ion-label fixed>Enter Target:</ion-label>
        <ion-input type="number" value="" placeholder="$" [(ngModel)]="number"></ion-input>
      </ion-item>

      <ion-item style="background-color: transparent;width:85%;color: white;">
        <ion-label fixed>Description:</ion-label>
        <ion-input type="text" value="" placeholder="" [(ngModel)]="description"></ion-input>
      </ion-item>

        <ion-item style="background-color: transparent;width:60%;color: white;display:none;">
        <ion-label fixed>Enter Target:</ion-label>
        <ion-input type="number" value="" placeholder="$"></ion-input>
      </ion-item>

    </ion-list>
  </div>

  <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center">
    <button ion-button block class="btnsize" style="border-radius: 13px 13px;background-color:#048df7;color:white;margin-top: 2%;"
      (click)="move();"><p></p>Check out the plans</button>
  </div>
</ion-content>