<ion-header>
  <ion-navbar hideBackButton>
    <!-- It is used to hide back button -->
     <div align="center" style="color:#0a80e3;font-size: large;">
      <ion-label>John Doe</ion-label>
      </div>
    <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;color:#0a80e3" (click)="OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
          </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>



<ion-content class="has-header" no-bounce>

    <div id="newpost"></div> 


   
      <!-- <ion-card (click)="showhide()"> -->
        <ion-card style="border-radius: 13px 13px;">
        <div tabindex="1">
          <ion-card-content>
     
    <ion-card-title style="text-align:center">
      <b>Daily</b>
      </ion-card-title>
     
    <div *ngIf="daily" (click)="daycard()">
    <h4 style="text-align:center"><b>Target Title:</b> {{ title }} </h4>
    <h2 style="text-align:center"><b>{{ daily }}$</b></h2>
    <p style="text-align:center">per</p>
    <p style="text-align:center">Day</p>
    <h4 style="text-align:center"><b>Target Description:</b> {{ description }} </h4>
    </div>  
  
  </ion-card-content>
   </div>
</ion-card>



 <!-- <ion-card (click)="showConfirm()"> -->
<ion-card style="border-radius: 13px 13px;">
  <div tabindex="1">
  <ion-card-content>
    <ion-card-title style="text-align:center">
      <b>Weekly</b>
      </ion-card-title>
    <div *ngIf="daily">
    <h4 style="text-align:center"><b>Target Title:</b> {{ title }} </h4>
    <h2 style="text-align:center"><b>{{ weekly }}$</b></h2>
    <p style="text-align:center">per</p>
    <p style="text-align:center">Week</p>
    <h4 style="text-align:center"><b>Target Description:</b> {{ description }} </h4>
    </div>
  </ion-card-content>
  </div>
</ion-card>

 <!-- <ion-card (click)="showhide()"> -->
<ion-card style="border-radius: 13px 13px;">
  <div tabindex="1">
  <ion-card-content>
    <ion-card-title style="text-align:center">
      <b>Monthly</b>
      </ion-card-title>
    <div *ngIf="daily">
    <h4 style="text-align:center"><b>Target Title:</b> {{ title }} </h4>
    <h2 style="text-align:center"><b>{{ monthly }}$</b></h2>
    <p style="text-align:center">per</p>
    <p style="text-align:center">Monthly</p>
    <h4 style="text-align:center"><b>Target Description:</b> {{ description }} </h4>
    </div>
  </ion-card-content>
  </div>
</ion-card>

<div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center">
        <button ion-button block class="btnsize" style="border-radius: 13px 13px;background-color:#048df7;color:white;"  (click)="showConfirm()">Create Saving Target</button>
    </div>

  

</ion-content>