<ion-header>
  <ion-navbar hideBackButton>
    <!-- It is used to hide back button -->
     <div align="center" style="color:#0a80e3;font-size: large;">
      <ion-label>FAQ</ion-label>
      </div>
    <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;color:#0a80e3" (click)="OnOpenMenu()">
       <ion-icon class="iconsize" name="menu"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce class="has-header">
    <h1 style="text-align:center;color:white">Frequently Asked Questions</h1>
   <div style="margin-top: 47%;">
  <button ion-button block (click)="showToastWithCloseButton()" style="background-color:#048df7">Content Goes Here !</button>
  <button ion-button block (click)="showToastWithCloseButton()" style="background-color:#048df7">Content Goes Here ?</button>
  <button ion-button block (click)="showToastWithCloseButton()" style="background-color:#048df7">Content Goes Here...</button>
  <button ion-button block (click)="showToastWithCloseButton()" style="background-color:#048df7">Content Goes Here,</button>
   </div>
     
    
</ion-content>